.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.score .user-score-details{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 20rem;
    margin-top: 4rem;
}

.score .score-percentage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.score .score-percentage span:nth-child(1){
    font-size: 2rem;
    font-weight: 600;
}

.score .score-percentage span:nth-child(2){
    font-size: 8rem;
    font-weight: 600;
}

.score .other-details div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.score .other-details div span:nth-child(1){
    font-size: 1.5rem;
}


.score .other-details div span:nth-child(2){
    font-size: 2rem;
}

.score .no-score{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
}
.score .answers-to-ques h2{
    margin: 1rem 0;
    text-align: center;
}

.score .back-to-home-btn{
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: var(--primary-color);
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}