@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-300) var(--gray-800);
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Hind Siliguri', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #f5feff;
}


:root{
  --primary-color:#06B6D4;
}